body {
    margin: 30px;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: "roboto", sans-serif;
}


.container {
    margin: 0 auto;
}

.items-container{
    display: flex;
    gap: 15px;
}

.item {
    width: 150px;
    height: 150px;
    padding: 1em;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(159, 117, 194);
}
.hobbies {
    height: 300px;
    flex-grow: 1;
}

.projects {
    height: 300px;
    flex-grow: 1;
}

.bio{
    flex-grow: 1;
}

.socials {
    flex-grow: 1;
}

.side {
    height: 600px;
}

.profile-picture{
    background-image: url("/images/ANTOINE\ PHOTO.jpg");
    object-fit: cover;
    background-size: contain;
    border-radius: 50%;
}

.cards {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
}

